# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
bluetool=0.2.3=pypi_0
ca-certificates=2020.12.8=hecd8cb5_0
certifi=2020.6.20=pyhd3eb1b0_3
click=7.1.2=pypi_0
flask=1.1.2=pypi_0
itsdangerous=1.1.0=pypi_0
jinja2=2.11.2=pypi_0
libcxx=11.0.0=h4c3b8ed_1
libedit=3.1.20191231=h1de35cc_1
libffi=3.3=hb1e8313_2
libusb=1.0.24=h046ec9c_0
lightblue=0.4=pypi_0
markupsafe=1.1.1=pypi_0
ncurses=6.2=h0a44026_1
nxt-python=2.2.2=pypi_0
pip=19.3.1=py27_0
pyobjc=5.3=pypi_0
pyobjc-core=5.3=pypi_0
pyobjc-framework-accounts=5.3=pypi_0
pyobjc-framework-addressbook=5.3=pypi_0
pyobjc-framework-adsupport=5.3=pypi_0
pyobjc-framework-applescriptkit=5.3=pypi_0
pyobjc-framework-applescriptobjc=5.3=pypi_0
pyobjc-framework-applicationservices=5.3=pypi_0
pyobjc-framework-automator=5.3=pypi_0
pyobjc-framework-avfoundation=5.3=pypi_0
pyobjc-framework-avkit=5.3=pypi_0
pyobjc-framework-businesschat=5.3=pypi_0
pyobjc-framework-calendarstore=5.3=pypi_0
pyobjc-framework-cfnetwork=5.3=pypi_0
pyobjc-framework-cloudkit=5.3=pypi_0
pyobjc-framework-cocoa=5.3=pypi_0
pyobjc-framework-collaboration=5.3=pypi_0
pyobjc-framework-colorsync=5.3=pypi_0
pyobjc-framework-contacts=5.3=pypi_0
pyobjc-framework-contactsui=5.3=pypi_0
pyobjc-framework-coreaudio=5.3=pypi_0
pyobjc-framework-coreaudiokit=5.3=pypi_0
pyobjc-framework-corebluetooth=5.3=pypi_0
pyobjc-framework-coredata=5.3=pypi_0
pyobjc-framework-corelocation=5.3=pypi_0
pyobjc-framework-coremedia=5.3=pypi_0
pyobjc-framework-coremediaio=5.3=pypi_0
pyobjc-framework-coreml=5.3=pypi_0
pyobjc-framework-coreservices=5.3=pypi_0
pyobjc-framework-corespotlight=5.3=pypi_0
pyobjc-framework-coretext=5.3=pypi_0
pyobjc-framework-corewlan=5.3=pypi_0
pyobjc-framework-cryptotokenkit=5.3=pypi_0
pyobjc-framework-dictionaryservices=5.3=pypi_0
pyobjc-framework-discrecording=5.3=pypi_0
pyobjc-framework-discrecordingui=5.3=pypi_0
pyobjc-framework-diskarbitration=5.3=pypi_0
pyobjc-framework-dvdplayback=5.3=pypi_0
pyobjc-framework-eventkit=5.3=pypi_0
pyobjc-framework-exceptionhandling=5.3=pypi_0
pyobjc-framework-externalaccessory=5.3=pypi_0
pyobjc-framework-findersync=5.3=pypi_0
pyobjc-framework-fsevents=5.3=pypi_0
pyobjc-framework-gamecenter=5.3=pypi_0
pyobjc-framework-gamecontroller=5.3=pypi_0
pyobjc-framework-gamekit=5.3=pypi_0
pyobjc-framework-gameplaykit=5.3=pypi_0
pyobjc-framework-imagecapturecore=5.3=pypi_0
pyobjc-framework-imserviceplugin=5.3=pypi_0
pyobjc-framework-inputmethodkit=5.3=pypi_0
pyobjc-framework-installerplugins=5.3=pypi_0
pyobjc-framework-instantmessage=5.3=pypi_0
pyobjc-framework-intents=5.3=pypi_0
pyobjc-framework-iosurface=5.3=pypi_0
pyobjc-framework-ituneslibrary=5.3=pypi_0
pyobjc-framework-latentsemanticmapping=5.3=pypi_0
pyobjc-framework-launchservices=5.3=pypi_0
pyobjc-framework-libdispatch=5.3=pypi_0
pyobjc-framework-localauthentication=5.3=pypi_0
pyobjc-framework-mapkit=5.3=pypi_0
pyobjc-framework-mediaaccessibility=5.3=pypi_0
pyobjc-framework-medialibrary=5.3=pypi_0
pyobjc-framework-mediaplayer=5.3=pypi_0
pyobjc-framework-mediatoolbox=5.3=pypi_0
pyobjc-framework-modelio=5.3=pypi_0
pyobjc-framework-multipeerconnectivity=5.3=pypi_0
pyobjc-framework-naturallanguage=5.3=pypi_0
pyobjc-framework-netfs=5.3=pypi_0
pyobjc-framework-network=5.3=pypi_0
pyobjc-framework-networkextension=5.3=pypi_0
pyobjc-framework-notificationcenter=5.3=pypi_0
pyobjc-framework-opendirectory=5.3=pypi_0
pyobjc-framework-osakit=5.3=pypi_0
pyobjc-framework-photos=5.3=pypi_0
pyobjc-framework-photosui=5.3=pypi_0
pyobjc-framework-preferencepanes=5.3=pypi_0
pyobjc-framework-pubsub=5.3=pypi_0
pyobjc-framework-qtkit=5.3=pypi_0
pyobjc-framework-quartz=5.3=pypi_0
pyobjc-framework-safariservices=5.3=pypi_0
pyobjc-framework-scenekit=5.3=pypi_0
pyobjc-framework-screensaver=5.3=pypi_0
pyobjc-framework-scriptingbridge=5.3=pypi_0
pyobjc-framework-searchkit=5.3=pypi_0
pyobjc-framework-security=5.3=pypi_0
pyobjc-framework-securityfoundation=5.3=pypi_0
pyobjc-framework-securityinterface=5.3=pypi_0
pyobjc-framework-servicemanagement=5.3=pypi_0
pyobjc-framework-social=5.3=pypi_0
pyobjc-framework-spritekit=5.3=pypi_0
pyobjc-framework-storekit=5.3=pypi_0
pyobjc-framework-syncservices=5.3=pypi_0
pyobjc-framework-systemconfiguration=5.3=pypi_0
pyobjc-framework-usernotifications=5.3=pypi_0
pyobjc-framework-videosubscriberaccount=5.3=pypi_0
pyobjc-framework-videotoolbox=5.3=pypi_0
pyobjc-framework-vision=5.3=pypi_0
pyobjc-framework-webkit=5.3=pypi_0
python=2.7.18=h47d645e_1
pyusb=1.1.0=pyh9f0ad1d_1
readline=8.0=h1de35cc_0
setuptools=44.0.0=py27_0
sqlite=3.33.0=hffcf06c_0
tcpbridge=1.1.1=pypi_0
tk=8.6.10=hb0a8c7a_0
werkzeug=1.0.1=pypi_0
wheel=0.36.2=pyhd3eb1b0_0
zlib=1.2.11=h1de35cc_3
